:root{
   --ackent-color: #2196F3;
   --background:  #2F303A;
   --button-text: #FFF;
   --color-title: #212121;
   --color-text: #757575;
   --color-footer-content:rgba(255, 255, 255, 0.60);
   --portfolio-background-button:#F5F4FA;
}
  