:root{
   --ackent-color: #2196F3;
   --background:  #2F303A;
   --button-text: #FFF;
   --color-title: #212121;
   --color-text: #757575;
   --color-footer-content:rgba(255, 255, 255, 0.60);
   --portfolio-background-button:#F5F4FA;
}
body{
  font-size: 14px;
  font-family: Roboto;
 }
.nav-list-link{
  font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.28px;
}
  .contacts-list-link{
font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.28px;
  }
 .section-hero-title{
font-size: 44px;
font-weight: 900;
line-height: 1.4;
letter-spacing: 2.64px;
 }
 .btn{
font-size: 16px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.96px;
 }
 .features-list-title{
font-size: 14px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.42px;
 }
 .features-list-text{
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.42px;
 }
 .section-work-title{
font-size: 36px;
font-weight: 700;
line-height: 0.4;
letter-spacing: 1.08px;
 }
 .section-team-title{
font-size: 36px;
font-weight: 700;
line-height: 0.4;
letter-spacing: 1.08px;
 }
 .team-list-title{
font-size: 16px;
font-weight: 500;
line-height: 1.0;
letter-spacing: 0.48px;
 }
 .team-list-text{
font-size: 16px;
font-weight: 400;
line-height: 1.0;
letter-spacing: 0.48px;
 }
 .address-list-link{
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.42px;
 }
 .logo{
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: 0.78px;
 }
 .filters-list-btn{
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;
 }
 .projects-list-title{
font-size: 18px;
font-weight: 700;
line-height: 2.0; 
letter-spacing: 1.08px;
 }
 .projects-list-text{
font-size: 16px;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.48px;
 }